<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sub Tiers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=smallsub" class="dropdown-item">Small Sub</a>
                <a href="{% url 'products' %}?category=mediumsub" class="dropdown-item ">Medium Sub</a>
                <a href="{% url 'products' %}?category=largesub" class="dropdown-item ">Large Sub</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                One Shots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=smalloneshot" class="dropdown-item">Small One Shot</a>
                <a href="{% url 'products' %}?category=mediumoneshot" class="dropdown-item ">Medium One Shot</a>
                <a href="{% url 'products' %}?category=largeoneshot" class="dropdown-item ">Large One Shot</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=subdeals" class="dropdown-item">Sub Deals</a>
                <a href="{% url 'products' %}?category=giftsubs" class="dropdown-item">Gift Subs</a>
                <a href="{% url 'products' %}?category=holidayspecials" class="dropdown-item">Holiday Specials</a>
            </div>
        </li>
    </ul>
</div>